<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fund</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="./scripts/web3.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="info">
        <button class="enableEthereumButton">Connect Metamask</button>
        <h3 id="currentAccount"></h3>
      </div>
      <div id="install">Click <a href="">Install metamask</a></div>

      <div id="inputForm">
        <input type="text" id="txt_hoten" placeholder="Nhap ho ten">
        <input type="text" id="txt_tien" placeholder="Nhap so tien">
        <input type="button" id="btn_send" value="Send">
      </div>

      <div id="inputForm"></div>
      <div id="listHS"></div>
    </div>
  </body>
  <script src="./js/process.js"></script>
</html>
